<div id="editCommodityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">
                    编辑商品
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </h3>
                <div class="ibox-content">
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">配图</label>
                        <div class="col-sm-10">
                            <template v-for="(src, index) in commodityInfo.commodityPhotos"
                              :key="index">
                                <div class="commodity-img" @click="removeCommodityPhotos(index)">
                                    <img :src="src">
                                </div>
                            </template>
                            <template v-if="commodityInfo.commodityPhotos.length < 5">
                                <div class="commodity-upload-img glyphicon glyphicon-plus"
                                    @click="emitChoosePhoto"></div>
                                <input type="file" class="file" accept="images/*" id="uploadOwnerPhoto" hidden @change="choosePhoto($event)">
                            </template>
                        </div>
                    </div><div class="form-group row">
                        <label  class="col-sm-2 col-form-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" v-model="commodityInfo.title" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">原价</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" v-model="hasOriginalPrice" type="radio" name="haveOriginal" id="noOriginal" :value="false">
                                            <label class="form-check-label mr-4" for="noOriginal">
                                                无
                                            </label>
                                            <input class="form-check-input" v-model="hasOriginalPrice" type="radio" name="haveOriginal" id="haveOriginal" :value="true">
                                            <label class="form-check-label" for="haveOriginal">
                                                有
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 row">
                                    <label class="col-sm-3 col-form-label">现价</label>
                                    <input v-model="commodityInfo.currentPrice" type="number" class="col-sm-6 form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <template v-if="hasOriginalPrice">
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label"> </label>
                            <div class="col-sm-4">
                                <input v-model="commodityInfo.originalPrice" type="number" class="form-control">
                            </div>
                        </div>
                    </template>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">库存</label>
                        <div class="col-sm-10">
                            <input v-model="commodityInfo.stockpile" type="number" class="col-sm-4 form-control"
                                placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">介绍</label>
                        <div class="col-sm-10">
                            <vc:create name="wangEditor"
                                parentComponent="editCommodityModal"></vc:create>
                        </div>
                    </div>
                    <div class="form-group row text-content">
                       <button class="btn btn-primary btn-submit-commodity"
                            @click="createOrChange">{{commodityInfo.commodityId > -1 ? '保存' : '上传'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>